.grid-container {
  font-family: "Titan One", cursive;
  display: grid;
  grid-gap: 0px;
  min-height: 100vh;
}

@media only screen and (max-width: 576px) and (min-width: 100px) {
  .grid-container {
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
      "header"
      "sd"
      "main"
      "footer";
    gap: 0px;
  }
}

@media (max-width: 992px) and (min-width: 576px) {
  .grid-container {
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
      "header header"
      "sd main"
      "footer footer";
    gap: 0px;
  }
}

@media (min-width: 992px) {
  .grid-container {
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    grid-template-areas:
      "header header header"
      "sd main main"
      "sd main main"
      "sd main main"
      "sd main main"
      "sd main main"
      "sd main main"
      "sd main main"
      "sd main main"
      "sd main main"
      "sd main main"
      "sd main main"
      "footer footer footer";
  }
}

footer {
  background-color: #ffa43a;
  color: white;
  text-align: center;
}

.header {
  color: white;
  grid-area: header;
  background-color: #ff9800;
  width: 100%;
  height: 100%;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 1;
}

#divHeader {
  width: 100%;
  height: 100px;
}
.content {
  background-color: rgb(255, 255, 255);
  grid-area: main;
  max-height: 100vh;
  width: 100%;
  overflow-y: scroll;
  z-index: 0;
}

.sidebar {
  grid-area: sd;
  width: 600px !important;
  font-size:30px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.divSidebar{
  width: 80%;
  height: 70%;
  background-color: #ff9900c0;
  color: white;
  text-shadow: 2px 2px #000000c0;
}

.footer {
  color: #ff9800;
  background-color: #ffff89;
  grid-area: footer;
}

#rs{
  flex-direction:row;
}

.inputStandar{
  width: 100px;
  border-radius: 20px;
  text-align: center;
}

.iconMargin{
  margin-left:10px;
  size:20px;
}

#tituloHeader {
  font-size: 3em;
  margin-left: 20px;
}

#logoHeader {
  display: flex;
  height: 3em;
}

.marginSmall{
  margin-top:10px;
}

.subTitleHeader{
  color: white;
  font-size: 1.5em;
}

#divInputMC{
  width: 100%;
  height: 100%;
}

.divSubSidebar{
  width: 80%;
}

#buttonSidebar{
  color: #ff9800;
  text-shadow: 3px 3px #000000c0;
}

.divContent{
  height: 100%;
  width: 100%;
  display: flex;
}

#cardId{
  height: 300px;
  margin:10px;
}

#flexbox{
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 50px;
}

#itemGalleryTablerDesktop{
  width: 100%;
}

#imgGalleryProperty{
  max-height: 150px;
  max-width: 400px;
  background-attachment: fixed;
}

.divDescriptionCard{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

#numeroTotal{
  display: flex;
  width: 100%;
  height: 2em;
  justify-content: center;
  margin-bottom: 20px;
}

#pNumeroTotal{
  color: rgb(0, 0, 0);
  font-size: 2em;
}

#buttonViewMore{
  background-color: #ff9800;
}

#paddingRight{
  margin-right: 10px;
}

#paddingLeft{
  margin-left: 10px;
}

.flexColumn{
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 10px;
  padding: 5px;
}